@font-face {
    font-family: clock;
    src: url(fonts/digital-7\ \(mono\).ttf);
}


body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
    border-radius: 10px;
    width: 700px;
    margin: 100px auto 0 auto;
    text-align: center;
    background-color: blue;

}
h3 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    margin: 2rem auto 1rem auto

}

.team {
    width: 500px;
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.score-box {
    border-radius: 1rem;
    text-align: center;
    width: 55%;
    font-family: clock;
    background-color: black;
    color: red;
    font-size: 10rem;
    padding: 2rem 0;
    line-height: 6rem;
    margin-bottom: 7px;
}

span {
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
}

.button-set {
    width: 55%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    padding: 0;
}

.button {
    margin: 1.5rem 0;
    border-radius: 5px;
    font-family: clock;
    padding: 6px;
    font-size: 3rem;
    border: 1px solid white;
    background: none;
    color: white;
}

.button:hover {
    background: white;
    color: blue;
}